<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Computers</title>
    <link rel="shortcut icon" href="#" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <form th:action="@{/new}" th:method="get" class="mb-4">
        <button type="submit" class="btn btn-primary">Add New Computers</button>
    </form>

    <form th:action="@{/}" th:method="get" class="mb-4">
        <div class="form-group">
            <label for="gpu">Gpu:</label>
            <input type="text" id="gpu" name="gpu" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-info">Search by Name</button>
    </form>

    <div class="row">
        <div th:each="computers : ${computers}" class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" th:text="${computers.gpu}">Computers Gpu</h5>
                    <p class="card-text" th:text="'Cpu: ' + ${computers.cpu}">Cpu</p>
                    <p class="card-text" th:text="'Monitor: ' + ${computers.monitor}">Monitor</p>
                    <p class="card-text" th:text="'ramAmount: ' + ${computers.ramAmount}">RAM Amount</p>
                    <p class="card-text" th:text="'Price: ' + ${computers.price} + ' $'">Price</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/computers/{id}(id=${computers.id})}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
