<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${computers.getGpu()}"></title>
    <link rel="shortcut icon" href="#" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${computers.gpu}">Computers Gpu</h5>
            <p class="card-text" th:text="'Cpu: ' + ${computers.cpu}">Cpu</p>
            <p class="card-text" th:text="'Monitor: ' + ${computers.monitor}">Monitor</p>
            <p class="card-text" th:text="'ramAmount: ' + ${computers.ramAmount}">ramAmount</p>
            <p class="card-text" th:text="'Price: ' + ${computers.price} + ' $'">Price</p>
            <a th:href="@{/computers/{id}/edit(id=${computers.id})}" class="btn btn-primary">Edit</a>
            <form th:action="@{/{id}(id=${computers.id})}" method="post" class="delete">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
